.btn {
    background: #000 !important;
    color: #ffb20f !important;
    font-weight: 500 !important;
}

.mainOverlay {
    background: #d7d7d7;
    height: 100vh;
}
.p-text {
    font-size: 3rem;
}
.nav-link {
    color: #000 !important;
    font-weight: 500;
}

.navForm {
    background: #ffb20f;
    box-shadow: 1px 1px 2px 2px #999999 ;
}

.navTop{
    box-shadow: 1px 1px 2px 2px #999999 ;
}
.navbar-brand {
    /* color: #ffb20f !important; */
    font-weight: bolder;
}
.mainOverlayBg {
    background: #ffb20f;
    height: 100vh;
}
/* .carousel{
    height: 30rem !important;
} */